@font-face {
  font-family: "SFPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../static/fonts/SFPro/SFPro-Regular.woff2") format("woff2"),
  url("../../static/fonts/SFPro/SFPro-Regular.woff") format("woff"),
  url("../../static/fonts/SFPro/SFPro-Regular.ttf") format("truetype");
}
